<main class="main">

  <nav class="nav">
    <a class="nav__item" routerLink="/chapter1">Chapter 1</a>
    <a class="nav__item" routerLink="/chapter2">Chapter 2</a>
    <a class="nav__item" routerLink="/chapter3">Chapter 3</a>
    <a class="nav__item" routerLink="/chapter4">Chapter 4</a>
    <a class="nav__item" routerLink="/chapter5">Chapter 5</a>
    <a class="nav__item" routerLink="/chapter6">Chapter 6</a>
    <a class="nav__item" routerLink="/chapter7">Chapter 7</a>
    <a class="nav__item" routerLink="/chapter8">Chapter 8</a>
    <a class="nav__item" routerLink="/chapter9">Chapter 9</a>
    <a class="nav__item" routerLink="/chapter10">Chapter 10</a>
  </nav>

  <nav class="nav">
    <a class="nav__item" routerLink="/stm-graph">STM Graph</a>
  </nav>

  <router-outlet></router-outlet>

</main>