<svg
  #svgRef
  width="100%"
  attr.viewBox="0 0 {{mc.width}} {{mc.height}}"
  style="cursor: crosshair;"
></svg>

<div
  *ngIf="tooltipModel"
  class="graph-tooltip"
  [style.top]="tooltipModel.mouseY + 'px'"
  [style.left]="tooltipModel.mouseX + 'px'"
>
  <div><b>{{ tooltipModel.title }}</b></div>

  <div class="graph-tooltip__hr"></div>

  <div
    *ngFor="let item of tooltipModel.values"
    class="row"
  >
    <div
      class="row__color"
      [style.background-color]="item.color"
    ></div>

    <div class="row__name">
      {{ item.name }}
    </div>

    <div class="row__val">
      {{ item.val }}
    </div>
  </div>
</div>
